header {
  height: 400px;
  width: 100%;
  background-color: #000a26;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

header div {
  padding-top: 20px;
  text-align: center;
}