.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: #fe4566;
  color: #ffffff;
  z-index: 500;
  padding: 2em;
}

.logo {
  font-size: 2.5em;
  font-family: "Bungee", sans-serif;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  padding-left: 1.25em;
  color: inherit;
  background-color: inherit;
  border: none;
}

.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}

.arrow {
  transform: rotate(90deg);
  font-size: 30px;
  color: #4056a1;
}
