.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
}
.new-tweet-top {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #5f5c53;
  font-weight: 700;
}
.text-input {
  height: 40px;
  color: #5f5c53;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

#tweet-text {
  color: white; 
  font-size: 18px;
}

.new-tweet-bottom {
  font-family: "Bungee", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.submit-button {
  background-color: #4056a1;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  height: 2rem;
  width: 6rem;
}

.red-alert {
  color: #d11919;
}

#tweet-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 125px;
  width: 100%;
}

.stylized-box {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 3px solid #5f5c53;
}

.stylized-box:hover {
  box-shadow: 8px 8px #4056A1;
}

.tweet-body-top {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #5f5c53;
}

.tweet-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.tweet-body-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: -15px;
  padding-left: 20px;
  padding-right: 20px;
}

.user-icon {
  display: flex;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  margin-top: 15px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.real-name {
  padding-left: 10px;
  opacity: 0.75;
  font-weight: 600;
}

.small-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5f5c53;
  width: 10%;
  margin-right: 10px;
  opacity: 1.5;
  font-size: 18px;
}

.date-posted {
  opacity: 1.5;
  color: #5f5c53;
  font-size: 18px;
  font-weight: 400;
}

.printed-tweet {
  display: flex;
  opacity: 0.9;
  font-weight: 450;
  width: 95%;
  padding-left: 20px;
}

.username {
  font-size: 13px;
  opacity: 0.75;
  font-weight: 600;
}
 
#error-container {
  display: none;
  align-items: center;
  text-align: center;
  font-weight: 502.5;
  color: #d11919;
  border: 2px solid #d11919;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}


/* 140 characters
This is an example tweet that fills the text box. This is an example tweet that fills the text box. This is a tweet that fills the text box.
*/